In [14]:
import pandas as pd 
import numpy as np
from category_encoders import BinaryEncoder
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [15]:
data = pd.read_csv(r"C:\code crafters\data\Copy of code crafters.csv")
data.head()

,Email,Name,Gender,10th board,10th marks,12th board,12th marks,Stream,Cgpa,Internships(Y/N),Training(Y/N),Backlog in 5th sem,Innovative Project(Y/N),Communication level,Technical Course,Placement(Y/N)?,Required job role,Unnamed: 17
0,payal_roy79@gmail.com,Payal Roy,Female,State Board,96.7,CBSE,70.2,Artificial Intelligence and Data Science,7.37,No,Yes,2.0,No,3.0,2.0,Not Placed,Data Analyst,NaN
1,shreyoshi_dey13@gmail.com,Shreyoshi Dey,Female,WBBSE,96.2,WBCHSE,90.6,Artificial Intelligence and Machine Learning,9.35,No,No,0.0,Yes,4.0,2.0,Placed,Machine Learning Engineer,NaN
2,rohan_nandi12@gmail.com,Rohan Nandi,Male,State Board,97.5,CBSE,69.6,Information Technology,7.84,No,Yes,0.0,Yes,3.0,4.0,Placed,Cloud Engineer,NaN
3,smita_agarwal90@gmail.com,Smita Agarwal,Female,CBSE,96.9,Other state Board,77.6,Artificial Intelligence and Data Science,7.87,Yes,No,0.0,Yes,2.0,2.0,Not Placed,Data Analyst,NaN
4,samaira_singhania95@gmail.com,Samaira Singhania,Female,ICSE,99.1,CBSE,62.8,Information Technology,9.26,Yes,Yes,0.0,Yes,1.0,2.0,Not Placed,Cloud Engineer,NaN

In [16]:
# ignore unwanted columns like email,name etc
data = data.drop(columns=['Email', 'Name', '10th board', '12th board'])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   789 non-null    object
 1   10th marks               789 non-null    float64
 2   12th marks               789 non-null    float64
 3   Stream                   789 non-null    object
 4   Cgpa                     789 non-null    float64
 5   Internships(Y/N)         789 non-null    object
 6   Training(Y/N)            789 non-null    object
 7   Backlog in 5th sem       789 non-null    float64
 8   Innovative Project(Y/N)  789 non-null    object
 9   Communication level      789 non-null    float64
 10  Technical Course         789 non-null    float64
 11  Placement(Y/N)?          789 non-null    object
 12  Required job role        789 non-null    object
 13  Unnamed: 17              0 non-null      float64
dtypes: float64(7), object(7)
memory usage: 96.5+ KB

In [18]:
data.columns.tolist()

['Gender',
 '10th marks',
 '12th marks',
 'Stream',
 'Cgpa',
 'Internships(Y/N)',
 'Training(Y/N)',
 'Backlog in 5th sem',
 'Innovative Project(Y/N)',
 'Communication level',
 'Technical Course',
 'Placement(Y/N)?',
 'Required job role ',
 'Unnamed: 17']

In [19]:
data['Unnamed: 17'].head()
data['Unnamed: 17'].isna().all()  # should be True based on info()

np.True_

In [20]:
data = data.drop(columns=['Unnamed: 17'])

In [21]:
data.head()

,Gender,10th marks,12th marks,Stream,Cgpa,Internships(Y/N),Training(Y/N),Backlog in 5th sem,Innovative Project(Y/N),Communication level,Technical Course,Placement(Y/N)?,Required job role
0,Female,96.7,70.2,Artificial Intelligence and Data Science,7.37,No,Yes,2.0,No,3.0,2.0,Not Placed,Data Analyst
1,Female,96.2,90.6,Artificial Intelligence and Machine Learning,9.35,No,No,0.0,Yes,4.0,2.0,Placed,Machine Learning Engineer
2,Male,97.5,69.6,Information Technology,7.84,No,Yes,0.0,Yes,3.0,4.0,Placed,Cloud Engineer
3,Female,96.9,77.6,Artificial Intelligence and Data Science,7.87,Yes,No,0.0,Yes,2.0,2.0,Not Placed,Data Analyst
4,Female,99.1,62.8,Information Technology,9.26,Yes,Yes,0.0,Yes,1.0,2.0,Not Placed,Cloud Engineer

In [22]:
new_column_names = {
    'Internships(Y/N)': 'Internships',
    'Training(Y/N)': 'Training',
    'Innovative Project(Y/N)': 'Innovative Project',
    'Backlog in 5th sem': 'Backlogs',
    'Placement(Y/N)?': 'Placement',
    'Required job role ': 'Required job role' # Removing the trailing space
}

data.rename(columns=new_column_names, inplace=True)

In [23]:
data.head()

,Gender,10th marks,12th marks,Stream,Cgpa,Internships,Training,Backlogs,Innovative Project,Communication level,Technical Course,Placement,Required job role
0,Female,96.7,70.2,Artificial Intelligence and Data Science,7.37,No,Yes,2.0,No,3.0,2.0,Not Placed,Data Analyst
1,Female,96.2,90.6,Artificial Intelligence and Machine Learning,9.35,No,No,0.0,Yes,4.0,2.0,Placed,Machine Learning Engineer
2,Male,97.5,69.6,Information Technology,7.84,No,Yes,0.0,Yes,3.0,4.0,Placed,Cloud Engineer
3,Female,96.9,77.6,Artificial Intelligence and Data Science,7.87,Yes,No,0.0,Yes,2.0,2.0,Not Placed,Data Analyst
4,Female,99.1,62.8,Information Technology,9.26,Yes,Yes,0.0,Yes,1.0,2.0,Not Placed,Cloud Engineer